# ignore IDE files
.idea/
.vs/

# ignore compiled Python files
*.pyc

# ignore audio files
*.mp3

# ignore configuration file if it contains sensitive information with similar filename 
config*

# ignore vscode
.vscode/

# fastf1_cache is specific to my local setup and should not be shared on GitHub.
fastf1_cache/

# CSV related files:
*.csv~
*.csv

# Ignore .gif images (optional)
*.gif

# Ignore generated images
/src/images/*.png

# Scratch files
line_count.py
update_readme.py
*.ipynb

# Ignore .DS_Store file
.DS_Store

# Ignore logs
*.log
*.pid