aiohttp==3.8.6
discord.py==2.3.2
elevenlabs==1.1.2
fastf1==3.3.5
icalendar==5.0.10
openai==0.28.1
Pillow==10.1.0
pyowm==3.3.0
setuptools>=68.0.0
stability-sdk==0.8.5
supervisor==4.2.5
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
