aiohttp==3.8.5
discord.py==2.3.2
elevenlabs==0.2.24
fastf1==3.1.1
icalendar==5.0.7
openai==0.27.10
Pillow==10.0.0
PyNaCl==1.5.0
pyowm==3.3.0
setuptools>=68.0.0
stability-sdk==0.8.4
supervisor==4.2.5
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
